/*---------------------------------
    MOBILE-ONLY STYLES

    by Andrew Harvey
    www.drewharvey.com
-----------------------------------*/

#headerMobile {
    position: fixed;
    top: 0; left: 0;
    background: #FFF;
    width: 100%;
    height: 40px;
    z-index: 100;
    border-bottom: 2px solid #DDD;
    line-height: 40px;
}

/* main nav */
.mobileMenu ul {
    list-style: none;
    text-transform: uppercase;
    background: #222;
    width: 100%;
    margin: 0;
    line-height: 1em;
}
    .mobileMenu li {
        display: block;
        text-align: center;
        border-bottom: solid 1px #666;
        margin: 0; padding: 0;
    }
        .mobileMenu li:last-child {
            border-bottom: none;
        }  
    .mobileMenu a {
        display: block;
        width: 100%;
        padding: 10px 0;
        color: #FFF;
        text-decoration: none;
    }
        .mobileMenu a:hover, 
        .mobileMenu li.current a,
        .mobileMenu .current-menu-item a, 
        .mobileMenu .current_page_item a {
            background: #444;
            color: #FFF;
        }

a.mobileBarButton {
    float: right;
    display: block;
    background: #222;
    color: #FFF;
    font-size: 1rem;
    padding: 0 10px;
    height: 100%;
    text-decoration: none;
}