/*---------------------------------
	NAVIGATION STYLES

    by Andrew Harvey
    www.drewharvey.com
-----------------------------------*/

ul.horizNav {
    list-style: none;
    margin: 0;
    font-size: 0.9rem;
}
    ul.horizNav li {
        float: left;
        position: relative;
    }
        ul.horizNav a {
            transition: all 0.5s;
            display: inline-block;
            padding: 0 20px;
            color: #838383;
            text-decoration: none;
        }
            ul.horizNav a:hover, 
            ul.horizNav li.current a,
            ul.horizNav .current-menu-item a, 
            ul.horizNav .current_page_item a {
                transition: all 0.5s;
                color: #a0253a;
            } 


ul.altHorizNav {
    list-style: none;
    margin: 0;
    padding: 0;
}
    ul.altHorizNav li {
        float:left;
    }
    ul.altHorizNav a { 
        display:inline-block;
        padding: 5px 20px;
        color: #FFF;   
        text-decoration: none;
        transition: all 0.5s;
    }
    ul.altHorizNav a:hover, ul.altHorizNav li.current a {
        color: #FF8989;
        transition: all 0.5s;
    }
    
ul.vertNav {
    list-style: none;
    font-family: "Arimo", arial, verdana, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
    ul.vertNav li {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }
        ul.vertNav a {
            transition: all 0.5s;
            display: block;
            padding: 5px 10px;
            color: #666;
            text-decoration: none;
            transition: all 0.5s;
        }
            ul.vertNav li:hover a, 
            ul.vertNav li.current a, 
            ul.vertNav .current-menu-item a, 
            ul.vertNav .current_page_item a {
                transition: all 0.5s;
                background-color: #a0253a;
                color: #FFF;
            }

ul.altVertNav {
    list-style: none;
    font-family: "Arimo", arial, verdana, sans-serif;
    line-height: 1.5em;
    margin: 0 0;
    padding: 0;
}
    ul.altVertNav li {
        width: 100%;
    }
        ul.altVertNav a {
            transition: all 0.5s;
            display: block;
            padding: 5px 10px;
            color: #666;
            text-decoration: none;
            border-bottom: solid 1px #DDD;
            transition: all 0.5s;
        }
            ul.altVertNav li:hover a, ul.altVertNav li.current a {
                transition: all 0.1s;
                border-color: #a0253a;
                color: #a0253a;
            }