/*---------------------------------
	RESPONSIVE STYLES

    by Andrew Harvey
    www.drewharvey.com
-----------------------------------*/

/* ie7/8 hacks */
.hide-desktop {
    visibility: hidden\0;
    display: none\0;
    height: 0px\0;
    overflow: hidden\0;
    *visibility: hidden;
    *display: none;
    *height: 0px;
    *overflow: hidden;
}
.hide-tablet {
    visibility: visible;
}
.hide-phone {
    visibility: visible;
}


/* desktops */
@media all and (min-width: 1024px) {

    .hide-desktop {
        visibility: hidden;
        display: none;
        height: 0px;
        overflow: hidden;
    }
    .hide-tablet {
        visibility: visible;
    }
    .hide-phone {
        visibility: visible;
    }
    #websiteTitle {
        font-size: 0.85em;
    }
}

/* tablets */
@media all and (min-width: 768px) and (max-width: 1023px) {  
    h1 { font-size: 2em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.25em; }

    .hide-desktop {
        visibility: visible;
    }
    .hide-tablet {
        visibility: hidden;
        display: none;
        height: 0px;
        overflow: hidden;
    }
    .hide-phone {
        visibility: visible;
    }
    
    #mobileTitle {
        margin-left: 50px;
    }

    .frontpageSlideshow {
        height: 350px;
    }
        .frontpageSlideshow .overlay {
            top: 10%;
        } 
}
/* phones and thin tablets */
@media all and (max-width: 767px) { 
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1em; }

    .hide-desktop {
        visibility: visible;
    }
    .hide-tablet {
        visibility: visible;
    }
    .hide-phone {
        visibility: hidden;
        display: none;
        height: 0px;
        overflow: hidden;
    }

    .column {
        width: 100%;
    }

    .popout {
        padding: 1em;
    }
}