/*---------------------------------
	COLOR SCHEME

WHITE: FFF
LIGHT-GREY: DDD
GREY: 95a5a6
DARK-GREY: 838383
ORANGE: f49c00
DARK ORANGE: f75200
DARK RED/ORANGE: e54600
BLUE: 00c4f2
GREEN: 39b54a

-----------------------------------*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);


body {
    margin: 0;
    padding: 0;
    background:#efefef url(css/img/gray_jean.png);
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0 0 1px transparent; /* google font pixelation fix */
    color: #444;
}

::-moz-selection { /*Firefox*/
    background: #f49c00; 
    color: #FFF;
}

::selection { /*Chrome/Safari*/
    background: #f49c00; 
    color: #FFF;
}

/*---------------------------------
	HEADINGS
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
    font-family: "Arimo", arial, verdana, sans-serif;
    font-weight:normal;
}

h1 {
    font-weight: bold;
}
h2 {
    font-size: 3em;
    font-weight: bold;
}
h3 {
    font-size: 2em;
}
h4 {
    color: #838383;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #444;
}
h1.alt, h2.alt, h3.alt {
    color: #838383;
}

/*---------------------------------
	LINKS
-----------------------------------*/
a {
    transition: all 0.5s;
    color: #f49c00;
}
    a:hover {
        color: #95a5a6;
    }

/*---------------------------------
	TABLES
-----------------------------------*/
thead th,
tbody th{
    font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	NAVIGATION
-----------------------------------*/
ul.horizNav {
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3em;
}
    ul.horizNav li {
        float: left;
        position: relative;
    }
        ul.horizNav a {
            transition: all 0.5s;
            display: inline-block;
            padding: 0 20px;
            color: #838383;
            text-decoration: none;
        }
            ul.horizNav a:hover, ul.horizNav li.current a {
                transition: all 0.5s;
                color: #f49c00;
            }
/* drop down */
ul.horizNav ul {
    display: none;
    list-style: none;
    position: absolute;
    top: 3.5em;
    background: #f49c00;
    z-index: 999;
    text-transform: capitalize;
}
    ul.horizNav li:hover ul, ul.horizNav ul:hover {
        display: block;
    }
        ul.horizNav li:hover ul a {
            color: #FFF;
            font-weight: normal;
            padding: 0 20px;
        }
        ul.horizNav ul li {
            padding: 0; 
            margin: 0;
            border-bottom: solid 1px #FFF;
        }
            ul.horizNav ul li:last-child {
                border-bottom: none;
            }
        
            
ul.altHorizNav {
    font-weight: normal;
    margin: 0;padding: 0;
    line-height: 1em;
}
    ul.altHorizNav a:first-child {
        padding-left: 0;
        border-left: none;
    }
    ul.altHorizNav a:hover, ul.altHorizNav li.current a {
        transition: all 0.5s;
        color: #00c4f2;
    }
    
        

ul.vertNav {
    list-style: none;
    font-family: "Arimo", arial, verdana, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
    ul.vertNav li {
        width: 100%;
    }
        ul.vertNav a {
            transition: all 0.5s;
            display: block;
            padding: 5px 10px;
            color: #666;
            text-decoration: none;
            transition: all 0.5s;
        }
            ul.vertNav li:hover a, ul.vertNav li.current a {
                transition: all 0.5s;
                background-color: #f49c00;
                color: #FFF;
            }

ul.altVertNav {
    list-style: none;
    font-family: "Arimo", arial, verdana, sans-serif;
    line-height: 1.5em;
    margin: 0 0;
    padding: 0;
}
    ul.altVertNav li {
        width: 100%;
    }
        ul.altVertNav a {
            transition: all 0.5s;
            display: block;
            padding: 5px 10px;
            color: #666;
            text-decoration: none;
            border-bottom: solid 1px #DDD;
            transition: all 0.5s;
        }
            ul.altVertNav li:hover a, ul.altVertNav li.current a {
                transition: all 0.1s;
                border-color: #f49c00;
                color: #f49c00;
            }

/*---------------------------------
	LAYOUT
-----------------------------------*/

#header {
    width: 100%;
    background-color: #FFF;
    border-bottom:5px solid #f49c00;
    position: relative;
    top:0;
    left:0;
}

    #websiteTitle {
        font-size: 1.5em;
        line-height: 2em;
    }
    
#belowHeader {
    width: 100%;
    background-color: #00c4f2;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    position: relative;
    top:0;
    left:0;
}

.sidebarContent {
    padding: 20px 0;
    border-bottom: solid 1px #DDD;
}
    .sidebarContent:first-child {
        margin-top: 0;
    }
    .sidebarContent p {
        margin-top: 0;
    }
    .sidebarContent h3 {
        font-size: 1.25em;
        font-weight: bold;
        color: #e54600;
    }
    .sidebarContent h4 {
        font-size: 1em;
        font-weight: bold;
        
        margin: 0; padding: 0;
    }

#footer {
    text-align:center;
    padding:20px;
    margin:0;
    border-top:1px solid #ddd;
    color:#999;
    font-size:0.8em;
    text-shadow: 0 1px 1px #fff;
    position: relative;
    top:0;
    left:0;
    background:#fff;
}

#abovefooter {
    border-top:1px solid #ddd;
    background:#222;
    color: #fff;
}


/*---------------------------------
	FRONT PAGE SLIDESHOW
-----------------------------------*/
.frontpageSlideshow {
    width: 100%;
    position: relative;
    height: 498px;
    overflow: hidden;
    border-bottom: solid 2px #DDD;
}
    .frontpageSlideshow .background {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0.3;
    }
    .frontpageSlideshow .overlay {
        position: absolute;
        top: 20%;
        width: 100%;
    }
    .frontpageSlideshow .title {
        color: #f75200;
        text-shadow: 1px 1px #FFF;
    }



/*---------------------------------
	HELPER STYLES
-----------------------------------*/
.popout { 
    background-color: #FFF;
    padding: 20px;
    border: solid 1px #DDD;
    -webkit-box-shadow: 0 8px 6px -6px #DDD;
	   -moz-box-shadow: 0 8px 6px -6px #DDD;
	        box-shadow: 0 8px 6px -6px #DDD;
}

.note {
    font-size: 0.85em;
    color: #838383;
    color: #007f9d;
}
