/*
   Theme Name: Seattle Jung Society 
   Author: Drew Harvey and Michael Hassold
   Author URI: http://drewharvey.com
   Description: Seattle Jung Society theme
   Version: 0.1
*/

/*---------------------------------
	COLOR SCHEME

WHITE: FFF
LIGHT-GREY: DDD
GREY: 95a5a6
DARK-GREY: 838383

Red: a0253a
Dark Red: 5c1e2b
Green: 46a15c
Dark Green: 0e6145
BLUE: 00c4f2
GREEN: 39b54a

-----------------------------------*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import url(css/mobile-styles.css);
@import url(css/navigation-styles.css);
@import url(css/responsive-styles.css);

body {
    margin: 0;
    padding: 0;
    background:#efefef url(css/img/gray_jean.png);
    font: normal 0.9em/150% 'Source Sans Pro', arial, sans-serif;
    text-shadow: 0 0 1px transparent; /* google font pixelation fix */
    color: #444;
}

::-moz-selection {
    background: #a0253a; 
    color: #FFF;
    text-shadow: none;
}
::selection {
    background: #a0253a; 
    color: #FFF;
    text-shadow: none;
}

p {
    margin:0 0 1rem 0;
    *margin:0 0 10px 0;
}

/*---------------------------------
	HEADINGS
-----------------------------------*/
h1 {
    font-family: 'Playfair Display', arial, serif;
    font-size: 2.5rem; *font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 20px 0;
    line-height: 1em;
    text-shadow: 0 1px 0 #FFF;
}
h2 {
    font-family: 'Playfair Display', arial, serif;
    font-size: 2rem; *font-size: 2em;
    font-weight: normal;
    margin: 10px 0 10px 0;
}
h3 {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 1.5rem; *font-size: 1.5em;
    font-weight: normal;
    margin: 1em 0 5px 0;
}
h4 {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 1.25rem; *font-size: 1.25em;
    font-weight: normal;
    margin: 1em 0 5px 0;
}
h5 {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 1rem; *font-size: 1em;
    margin: 0 0 5px 0;
    font-weight: normal;
    color: #838383;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: inherit;
}

h1.alt, h2.alt, h3.alt {
    color: #838383;
}


/*---------------------------------
	LINKS
-----------------------------------*/
a {
    color: #a0253a;
    transition: all 0.25s;
}
    a:hover {
        transition: all 0.25s;
        color: #95a5a6;
    }

a.button.redDark {
    text-shadow: 0 -1px 0 #5c1e2b;
    color: #fff;
    border: 1px solid #5c1e2b;
    background: #a0253a;
}
a.button.redDark:hover {
    background: #C52E48;
}

/*---------------------------------
	FORMS
-----------------------------------*/
input, textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
}

/* search bar */
form.searchbar {
    width: 235px;
    height: 35px;
    position: relative;
}
    form.searchbar .submit {
        width: 35px;
        height: 35px;
        padding: 5px;
        background: #a0253a;
        display: block;
        position: absolute;
        top: 0;
        left: 200px;
        border: none;
        outline: none;
        color: #FFF;
        cursor: pointer;
    }
    form.searchbar .search {
        height: 35px;
        width: 200px;
        position: absolute;
        border: solid 1px #a0253a;
        border-right: none;
        outline: none;
        padding: 0 10px;
        margin: 0;
        left: 0px;
    }


/*---------------------------------
	LAYOUT
-----------------------------------*/
#beforeHeader {
    background: #FFF;
    border-bottom: solid 1px #DDD;
    font-size: 0.8rem;
    color: #888;
}
    #beforeHeader a {
        color: inherit;
        text-decoration: none;
    }

#header {
    width: 100%;
    line-height: 4rem;
    background-color: #FFF;
    border-bottom: 5px solid #5c1e2b;
    position: relative;
    top:0;
    left:0;
    z-index: 10;
}
    #websiteTitle {
        font-family: 'Playfair Display', arial, serif;
        font-size: 1.5em;
        line-height: 1.5em;
    }
        #websiteTitle a {
            text-decoration: none;
            color: inherit;
        }
        
/* sticky header */
#header.sticky {
    position: fixed;
    top: 0;
    opacity: 0.9;
    line-height: 1.5rem;
}
    #header.sticky #websiteTitle {
        font-size: 1em;
    }
    #header.sticky img {
        max-height: 50px;
        transition: all 0.25s;
    } 
    
#belowHeader {
    width: 100%;
    background-color: #a0253a;
    color: #FFF;
    position: relative;
    top:0;
    left:0;
}

#pageTitle {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sidebarContent {
}
    .sidebarContent p {
        margin-top: 0;
    }
    .sidebarContent h3 {
        font-size: 1.25em;
        font-weight: bold;
        color: #e54600;
    }
    .sidebarContent h4 {
        font-size: 1em;
        font-weight: bold;
        margin: 0; 
        padding: 0;
    }
    
.sidebarContent ul {
    list-style: none;
    margin: 0;
    padding: 0 0 20px 0;
}
.sidebarContent li {
    margin: 0;
    padding: 20px 0;
}
    .sidebarContent li:first-child {
        margin-top: 0;
        padding-top: 0;
    }

#footer {
    border-top: 1px solid #ddd;
    background: #FFF;
    font-size: 0.8em;
    margin-top: 40px;
}
    #footer h3 {
       font-size: 1.25em;
       font-weight: bold;
    }
    #footer a {
        text-decoration: none;
    }


/*---------------------------------
	FRONT PAGE SLIDESHOW
-----------------------------------*/
.frontpageSlideshow {
    width: 100%;
    position: relative;
    height: 450px;
    overflow: hidden;
    border-bottom: solid 2px #DDD;
}
    .frontpageSlideshow .background {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0.3;
    }
    .frontpageSlideshow .overlay {
        position: absolute;
        top: 15%;
        width: 100%;
    }
    .frontpageSlideshow .title {
        color: #a0253a;
        text-shadow: 1px 1px #FFF;
    }
    .frontpageSlideshow .desc {
        font-size: 1.5em;
        line-height: 1.5em;
        color: #000;
        text-shadow: 1px 1px #fff;
    }


/*---------------------------------
    FRONT PAGE CALENDAR/EVENTS
-----------------------------------*/
#events {

}
    #events .date {
        text-align: center;
        font-size: 1.25rem;
    }
    #events .details {

    }

/*---------------------------------
	HELPER STYLES
-----------------------------------*/
.popout { 
    background-color: #FFF;
    padding: 20px;
    border: solid 1px #DDD;
    -webkit-box-shadow: 0 8px 6px -6px #DDD;
	   -moz-box-shadow: 0 8px 6px -6px #DDD;
	        box-shadow: 0 8px 6px -6px #DDD;
}

/* alignment & position */
.vertCenterContainer {
    display: table;
}
.vertCenterItem {
    display: table-cell;
    vertical-align: middle;
}
.fixed {
    position: fixed;
    z-index: 2;
}
.top {
    top: 10px;
}
.bottom {
    bottom: 10px;
}
.right {
    right: 10px;
}
.left {
    left: 10px;
}

/* font sizes */
.huge {
    font-size: 4rem;
    line-height: 4rem;
}
.xlarge {
    font-size: 2rem;
}
.large {
    font-size: 1.25rem;
}
.small {
    font-size: 0.85rem;
}
.title {
    font-family: 'Playfair Display', arial, serif;
    text-decoration: none;
    color: inherit;
}
.hasSub {
    margin-bottom: 2px;
}
.note {
    font-size: 0.85em;
    color: #838383;
    color: #007f9d;
}

/* utilities */
.noBorder {
    padding: 0;
    margin: 0;
    border: none;
}

.noPadding {
    padding: 0;
}

