/*
Theme Name: Heavenly
Theme URI: http://wpeden.com/product/heavenly-multipurpose-wordpress-theme/
Author URI: http://wpeden.com
Description: Heavenly 100% Responsive, Highly Customizable and SEO Friendly Theme using Twitter Bootstrap . This theme is will make your website adaptable with any type of devices. Theme Features: Custom Homepage Settings, 3 Page Templates, Custom Background Support, Search Engine Friendly.  
Author: Shaon
Version: 1.0.1
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: black, green, white, two-columns, fixed-width, threaded-comments, sticky-post, microformats,  editor-style, custom-menu, custom-background

Heavenly - WordPress Theme, Copyright 2013 wpeden.com
Heavenly - WordPress Theme is distributed under the terms of the GNU GPL
 
*/


@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);        
@import url(bootstrap/css/bootstrap.css);
@import url(bootstrap/css/bootstrap-responsive.css);

@color: #89BA30;

  
    .nav-area{
        border-bottom:3px solid @color;
       
    }
    
   
   
.box.widget h3 span{
    border-bottom:4px solid @color;
    padding-bottom:10px;
    padding-right: 0 !important;
}
 

a .caret{
    border-top-color: @color !important;
    border-bottom-color: @color !important;
}
 
.open > a,   
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,   
.current-menu-parent > a, 
.current-menu-item > a, 
.dropdown-menu > a:active,
.dropdown-menu > a:focus,
.dropdown-menu > a:hover{
    background: @color !important;   
    
}

 
 .home .about.well:hover{
     padding:0px;
     border:1px solid @color;
 }
  
.home-cat span{
    border-bottom: 1px solid @color;
    padding:6px 10px 7px 0px;
    font-weight: 700;
}
 
blockquote{
    border-left-color: @color !important;
    border-left-width: 3px !important;
}
 
.sidebar a:hover,
a.btn-link:hover,
a:hover{
    color: @color;
    text-decoration: none;
}


.btn-info{
  background: @color !important;
}

.btn-info:hover{
  -moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
  box-shadow: inner 0 0 15px rgba(0,0,0,0.2);
  }


.portfolio-block h3:after {
  border-color: @color transparent;
}

.portfolio-block h3 {
  background: none repeat scroll 0 0 @color;
}

.menu-bar{
  border-top: 1px solid @color;
}

.btn-theme{
  background: @color !important;
  color: #ffffff !important;
  font-size: 14pt;
  height: 20px;
  font-family: 'Bitter';
  padding: 10px 25px !important;
  border-radius: 3px !important;
}

.sap span{
  color: @color;
}

.header-area-bottom{
  background: @color !important;
}

.btn-bordered{
  border: 2px solid @color !important;
  background: #ffffff !important;
  color: @color !important;
}
.contentbox-style2:hover {
  border: 1px solid @color;
}

.contentbox-style2:hover .icon{
  color:  @color;
}

a:hover:not(.btn){
  color: @color;
}