/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}
/* Search widget */
#searchsubmit {
	display: none;
}

.textwidget p:first-child{
	margin-top:0;
}

.textwidget p:last-child{
	margin-bottom:0;
}

/* =Sidebar widget styling
----------------------------------------------- */

#secondary, #footer-widgets {

	.widget {
		margin-bottom: 40px;
		font-size: 13px;
		color: #5e5e5e;

		&:last-child {
			margin-bottom: 0;
		}

		h1.widget-title {
			font-size: 15px;
			color: #3b3b3b;
			font-weight: bold;
			margin-bottom: 15px;
		}

		ul, ol {
			list-style: none;
			padding: 0;
			margin: 0;

			ul, ol {
				margin-left: 1em;
			}

			li {
				a {
					text-decoration: none;
				}
			}
		}
	}
}

#footer-widgets {
	.clearfix();

	margin: 0 -5px;
	max-width: 100%;

	.widget {
		.box-sizing(border-box);
		float: left;
		padding: 0 15px;
		margin-bottom:0;
		color: #b9b9b9;

		a {
			color: #cccccc;
		}

		h1.widget-title {
			color: #e2e2e2;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 20px;
		}
	}
}


/* =General Widget Styling
----------------------------------------------- */

.widget {
	
	img, iframe, object, select, input {
		max-width: 100%;
	}

	img {
		height: auto;
	}
	
	a.button {
		display:inline-block;
		padding: 9px 26px;

		.rounded(4px);

		font-size: 0.875em;
		text-decoration:none;
		color: white;
		text-shadow: 0 1px 0 rgba(0,0,0,05);

		.box-shadow(~"inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1)");
		.button-style(#107fc9);
	}

	.button-container.align-center{
		text-align: center;
	}

	.button-container.align-left{
		text-align: left;
	}

	.button-container.align-right{
		text-align: right;
	}

	.button-container.align-full .button{
		display: block;
		text-align: center;
	}
}

.widget_call-to-action {
	position: relative;
	padding: 25px 30px 23px 30px;

	h2.cta-headline{
		margin:0 0 0.35em 0;
		color: #333;
	}

	p.cta-sub-text{
		margin:0;
		color: #666;
	}

	a.button {
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -20px; /* This should be half the height of the button */
	}
}

/* Responsive styles for the call to action widget */
@media (max-width:680px) {
	body.responsive .widget_call-to-action {
		a.button {
			position: static;
			margin-top: 25px;
			display:block;
			text-align:center;
		}
	}
}

.widget_siteorigin-list {
	ul {

		li {
			margin-bottom: 0.4em;
		}

		li:last-child {
			margin-bottom: 0;
		}
	}
}

.widget_icon-text {
	font-size: 0.95em;
	text-align:center;

	.feature-icon {
		display: inline-block;
		line-height: 0;
	}

	.widget-title {
		margin: 15px 0;
	}
}

.widget_circleicon-widget {

	@icon_size: 65px;
	@icon_border: 0px;

	clear:both;

	.circle-icon-box {
		text-align: center;

		&.circle-icon-show-box {
			border: 1px solid #DDDDDD;
			background: #F6F6F6;
			.box-shadow(~"0 2px 2px rgba(0,0,0,0.05)");
			padding: 24px;
		}

		&.circle-icon-hide-box {
			padding: 5px;
		}

		position: relative;

		.link-icon, .link-title {
			text-decoration: none;
			display: block;
		}

		.circle-icon {
			position: absolute;
			background-color: #3a3b3e;
			display: inline-block;
			width: @icon_size;
			height: @icon_size;
			.rounded(@icon_size*2);
			.transition(0.5s);
			border: @icon_border solid white;

			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			[class^="icon-"] {
				display: block;
				font-size: 24px;
				width: 100%;
				height: 1em;
				text-align: center;
				color: #FFFFFF;
				line-height: 1.1em;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -0.5em;
			}
		}

		h4 {
			color: #3b3b3b;
			font-weight: bold;
			font-size: 17px;
			margin-bottom: 0.8em;
			margin-top: 0;
		}

		p.text {
			margin: 0;
			color: #5e5e5e;
			font-size: 13px;
			margin-bottom: 10px;
		}

		p.text:last-child {
			margin-bottom: 0;
		}

		a.more-button {
			display: block;
			text-decoration: none;
			color: #3b3b3b;
			font-weight: bold;
			font-size: 13px;

			i {
				display: inline-block;
				width: 5px;
				height: 8px;
				margin-left: 3px;

				background: url(images/sprites/more-icon.png) no-repeat;

				@media screen and (-webkit-min-device-pixel-ratio: 2) {
					& {
						background: url(./images/retina/more-icon.png);
						background-size: 5px 8px;
					}
				}
			}
		}

		/* The different icon positions */
		&.icon-position-top {
			padding-top: (@icon_size + 2*@icon_border) + 10px;

			.circle-icon {
				top: 0;
				left: 50%;
				margin-left: -(@icon_size + 2*@icon_border)/2;
			}
		}

		&.icon-position-bottom {
			padding-bottom: (@icon_size + 2*@icon_border) + 10px;

			.circle-icon {
				bottom: 0;
				left: 50%;
				margin-left: -(@icon_size + 2*@icon_border)/2;
			}
		}

		&.icon-position-left {
			text-align: left;
			padding-left: (@icon_size + 2*@icon_border) + 10px;

			.circle-icon {
				left: 0;
				top: 50%;
				margin-top: -(@icon_size + 2*@icon_border)/2;
			}
		}

		&.icon-position-right {
			text-align: left;
			padding-right: (@icon_size + 2*@icon_border) + 10px;

			.circle-icon {
				right: 0;
				top: 50%;
				margin-top: -(@icon_size + 2*@icon_border)/2;
			}
		}
	}
}

.widget_headline-widget {
	text-align: center;

	h1 {
		padding-top: 20px;
		margin: 0;
		font-size: 26px;
		line-height: 36px;
		text-transform: uppercase;
		color: #444444;
		letter-spacing: 1px;
	}

	h3 {
		padding-bottom: 20px;
		margin: 0;
		font-size: 14px;
		color: #666666;
		font-weight: 200;
	}

	.decoration {
		border-top: 1px solid #EEE;
		position: relative;
		height: 1px;
		margin: 20px 60px 20px 60px;
	}
}

/* =Some row styling for page builder
----------------------------------------------- */

.panel-row-style{
	.clearfix();
}

.panel-row-style-wide-grey {
	background: #F6F6F6;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin: 0 -20px;
	padding: 25px 20px;
}

.layout-full .panel-row-style-wide-grey {
	margin: 0 -1000px;
	padding: 25px 1000px 25px 1000px;
}

@media (max-width:680px) {
	body.responsive.layout-boxed {
		.panel-row-style-wide-grey {
			margin: 0 -35px;
			padding: 25px 35px;
		}
	}
}