<h4>Membership/Mailing List Request</h4>
    <p>Use this form to begin or renew Society membership, or ask for a newsletter subscription only. Print out and mail this form and payment to:</p>
    <address>C.G. Jung Society, 4649 Sunnyside Avenue North, Room 222, Seattle, WA 98103</address>
    <p>Note that dues and contributions are tax deductible.</p>
    <p>I enclose $_______ (check or credit card number) for the following:</p>
    <ul>
      <li>___ Please renew/begin my membership in the Society. Dues for one year:
      <ul>
        <li>Single member: $50
        <li>Student/senior member/low income: $35
        <li>Couple (same address): $80<li>Contributing member: $100
        <li>For special recognition, become a Sustaining member: $300
      </ul>
      <li>___ Please send me newsletters and other mailings only: $10
    </ul>
    <p>Charge my Visa MC Number ___________________________________ Exp. Date ______</p>
    <p>Name___________________________________________________________________________</p>
    <p>Address_________________________________________________________________________<br>
    <br>
    City_________________________________State_________ZIP______________<br>
    </p>
    <p>Phone number (____) ________________ E-mail: _______________________</p>
    <p>___ I'd like to be listed in the Society Membership Directory.</p>
    <p>I'd like to help with Society activities. Please contact me regarding volunteer activities for (check all that apply):</p>
    <p>___ Newsletter/Graphic design ___ Programs ___ Publicity ___ Treasurer/Bookkeeping</p>
    <p>___ Fundraising ___ Hospitality ___ Library ___ Membership</p>